<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getIdBook()})}" th:object="${book}" >
        <label for="title">Введите название книги:</label>
        <input type="text" th:field="*{title}" id="title">
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>

        <br/>

        <label for="author">Введите имя автора:</label>
        <input type="text" th:field="*{author}" id="author">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>

        <br/>

        <label for="year">Введите год книги:</label>
        <input type="text" th:field="*{year}" id="year">
        <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
        <br/>
        <br/>
        <input type="submit" value="Редактировать!">
    </form>
</body>
</html>